$background: black;
$textcolor : white;
$textfont:  'Share Tech Mono', monospace;
$textweight: 500 ;

$mainheight: 92vh;
$mainmarginh: (100vh - $mainheight)/2;

$mainwidth: 93vw;


*{
    margin: 0;
    padding: 0;
}

body{
   background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
}

#main{
    
    background-color: $background;
    

    
    height: $mainheight;
    
    margin-top: $mainmarginh;
    
    
    
    width:  $mainwidth;
 
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media screen and (max-width: 1266px){
        justify-content: center;
    }
    
    flex-wrap: nowrap;
    
    p {
        color: rgb(197, 197, 197);
        font-family: $textfont;
        font-weight: $textweight;
        font-size: 12px;
    }
    label {
        color: rgb(197, 197, 197);
        font-family: $textfont;
        font-weight: $textweight;
        font-size: 12px;
    }

    h1{
        //color: $textcolor;
        font-family: $textfont;
        font-weight: $textweight;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    
}

@import "./sections/sections.scss";
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
@import "./tilde/tilde.scss";
