@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center; }

#main {
  background-color: black;
  height: 92vh;
  margin-top: 4vh;
  width: 93vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap; }
  @media screen and (max-width: 1266px) {
    #main {
      justify-content: center; } }
  #main p {
    color: #c5c5c5;
    font-family: "Share Tech Mono", monospace;
    font-weight: 500;
    font-size: 12px; }
  #main label {
    color: #c5c5c5;
    font-family: "Share Tech Mono", monospace;
    font-weight: 500;
    font-size: 12px; }
  #main h1 {
    font-family: "Share Tech Mono", monospace;
    font-weight: 500;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); }

.leftbarelem {
  width: 100%;
  height: 6%; }

#date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%; }
  #date h1 {
    color: black;
    margin-left: 0%;
    font-size: 25px; }

#name {
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  #name h1 {
    color: white;
    font-size: 25px;
    margin-left: 2%; }

.category-span-out {
  display: flex;
  justify-content: center;
  -webkit-clip-path: polygon(100% 0, 100% 73%, 94% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 73%, 94% 100%, 0 100%, 0 0);
  width: 100%;
  background-color: white; }

.category-span-in {
  display: flex;
  justify-content: center;
  -webket-clip-path: polygon(99% 6%, 99% 68%, 93.5% 93%, 1% 93%, 1% 6%);
  clip-path: polygon(99% 6%, 99% 68%, 93.5% 93%, 1% 93%, 1% 6%); }
  .category-span-in h1 {
    padding-left: 5%; }

.borderunder {
  border-style: none none solid none;
  border-color: #c5c5c5;
  border-width: 1px; }

.white {
  background-color: white; }

#cpu {
  height: 300px;
  overflow: visible;
  flex-direction: column;
  justify-content: space-around; }

#status {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 105px; }

#circle-half-top {
  position: absolute;
  width: 32px;
  height: 32px;
  border: 32px solid white;
  border-radius: 50%;
  animation: rotate 2s infinite reverse linear; }

#circle-half-bottom {
  position: absolute;
  width: 24px;
  height: 24px;
  border: 24px solid black;
  border-radius: 50%; }

#circlebox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 100%; }

#spinning-rec {
  position: absolute;
  width: 70px;
  height: 10px;
  background-color: black;
  animation: rotate 2s infinite linear; }

.borderallround {
  border-style: solid solid solid solid;
  border-color: #c5c5c5;
  border-width: 1px; }

.spacingAbove {
  margin-top: 3px; }

@keyframes rotate {
  0% {
    transform: rotate(-45deg); }
  100% {
    transform: rotate(315deg); } }

.flex {
  display: flex; }

.celestialBody {
  height: 32px;
  width: 32px;
  position: relative; }

#CPS {
  height: 125px;
  overflow: visible;
  position: relative; }

.celestialBody {
  height: 32px;
  width: 32px;
  position: absolute; }

#chart_div {
  width: 280px;
  height: 190px;
  display: flex;
  z-index: 99; }

#chartBorderParent {
  width: 281px;
  overflow: visible;
  height: 192px;
  border-width: 1px;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-content: center; }

.center {
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center; }

.chartBorder {
  display: flex;
  overflow: visible;
  border-width: 4px;
  height: 214px;
  width: 300px;
  border-style: solid solid solid solid;
  position: absolute;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-content: center; }

#chartBorderBlack {
  border-color: black;
  border-radius: 15px;
  z-index: 101; }

#chartBorderWhite {
  border-color: white;
  z-index: 100; }

@use "sass:math";
.rightbarelem {
  width: 100%; }

#xkcd {
  width: 100%;
  height: auto;
  filter: invert(100%);
  flex: 0 1 auto; }

.bordertopbot {
  border-style: solid none solid none;
  border-width: 1px;
  border-color: #c5c5c5; }

#Humor {
  max-height: 60%;
  flex-direction: column; }

#xkcd_url {
  overflow: scroll; }

.square {
  width: 30px;
  height: 30px;
  display: flex; }
  .square p {
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center; }

#square1 {
  background-color: #191919; }

#square2 {
  background-color: #303030; }

#square3 {
  background-color: #474747; }

#square4 {
  background-color: #5e5e5e; }

#square5 {
  background-color: #757575; }

#square6 {
  background-color: #8c8c8c; }

#square7 {
  background-color: #a3a3a3; }

#square8 {
  background-color: #bababa; }

#square9 {
  background-color: #d1d1d1; }

#square10 {
  background-color: #e8e8e8; }

#tempmax {
  color: #191919 !important; }

.task {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 3%;
  margin-bottom: 3px; }

.taskcheckbox {
  width: auto !important;
  height: auto !important; }

.tasklabel {
  margin-left: 10px; }

#taskslist {
  flex-direction: column; }

.taskbutton {
  width: 14px;
  height: 14px;
  border-style: solid solid solid solid;
  border-color: white;
  border-width: 1px;
  background-color: black;
  border-radius: 2px; }

.taskbutton:hover {
  border-width: 2px;
  border-radius: 2px; }

.taskbutton:focus {
  background-color: white; }

#leftbar {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start; }
  @media screen and (max-width: 1100px) {
    #leftbar {
      display: none; } }
.thinboy {
  height: 90%;
  width: 300px;
  flex-shrink: 0; }

.fatboy {
  height: 90%;
  width: 500px; }

#centerbox {
  width: 45%;
  height: 80%;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between; }

#linkbox {
  border: white;
  border-width: 5px;
  width: 100vw;
  height: 50vh; }

#timebox {
  border: white;
  border-width: 5px;
  width: 100vw;
  font-size: 50px; }
  #timebox h1 {
    text-align: center; }

#rightbar {
  background: black; }
  @media screen and (max-width: 1100px) {
    #rightbar {
      display: none; } }
:root {
  /* colors */
  --background: #0e0e0e;
  --foreground: #F1F1F1;
  /* fonts */
  --font-family: Roboto, sans-serif;
  --base-font-size: 18px;
  --font-weight-normal: 400;
  --font-weight-bold: 700; }

/* to download a different font locally:
      https://google-webfonts-helper.herokuapp.com/fonts */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Roboto-Regular"), url("../assets/fonts/roboto-regular.woff2") format("woff2"), url("../assets/fonts/Roboto-Regular.woff") format("woff"); }

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url("../assets/fonts/Roboto-Black.woff2") format("woff2"), url("../assets/fonts/roboto-black.woff") format("woff"); }

* {
  box-sizing: border-box; }

html {
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  font-weight: var(--font-weight-normal); }

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: background 0.2s;
  color: var(--foreground); }

input,
button {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  background: transparent;
  color: inherit;
  font-family: var(--font-family);
  font-size: 1rem; }

input,
input:focus {
  border: 0;
  outline: 0; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none; }

a,
a:focus {
  color: inherit;
  outline: 0; }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  visibility: hidden; }

.clock {
  display: block;
  margin-top: -0.06rem;
  font-size: 4rem;
  font-weight: var(--font-weight-normal);
  text-align: center;
  letter-spacing: 0.05rem;
  cursor: pointer; }

.search-form {
  background: var(--foreground);
  color: var(--background);
  z-index: 2; }

.search-form > div {
  width: 100%; }

.search-input {
  width: 100%;
  padding: 0 1rem;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: white; }

.search-suggestions {
  display: none;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden; }

body.suggestions .search-suggestions {
  display: flex; }

.search-suggestion {
  border-width: 0px;
  padding: 0.75rem 1rem;
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
  color: white; }

.search-suggestion.highlight {
  background: var(--background);
  color: var(--foreground); }

.search-suggestion b {
  position: relative;
  font-weight: var(--font-weight-normal);
  color: white; }

.search-suggestion b::after {
  content: ' ';
  position: absolute;
  right: 0;
  bottom: -0.3rem;
  left: 0;
  height: 2px;
  background: var(--background);
  opacity: 0.4;
  color: white; }

.search-suggestion.highlight b::after {
  opacity: 0; }

.help {
  display: block;
  padding: 8vw;
  background: var(--background);
  z-index: 1; }

.category {
  margin-bottom: 3rem;
  padding: 25px;
  width: 250px;
  min-width: 225px; }

.category-name {
  margin-bottom: 1.5rem;
  font-size: 0.75rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase; }

.command a {
  display: flex;
  position: relative;
  margin: 1rem 0;
  line-height: 2rem;
  text-decoration: none; }

.command:last-of-type a {
  margin-bottom: 0; }

.command-key {
  display: block;
  float: left;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  border-radius: 50%;
  background: transparent;
  color: var(--background);
  font-size: 0.75rem;
  line-height: 2rem;
  text-align: center; }

.command-name {
  position: relative; }

.command-name::after {
  content: ' ';
  display: none;
  position: absolute;
  right: 0;
  bottom: 2px;
  left: 0;
  height: 2px;
  transition: 0.2s;
  transform: translateX(-2rem);
  background: var(--foreground);
  opacity: 0; }

body.help .command-name::after {
  display: block; }

.command a:hover .command-name::after,
.command a:focus .command-name::after {
  transform: translateX(0);
  opacity: 1; }

body.help .help,
body.form .search-form {
  visibility: visible; }

@media (min-width: 500px) {
  .clock {
    font-size: 6rem; }
  .search-input {
    text-align: center; }
  .search-suggestions {
    align-items: center; }
  .categories {
    display: flex;
    grid-template-columns: 250px 175px;
    justify-content: space-around; }
  .category:nth-last-child(2) {
    margin-bottom: 0; } }

@media (min-width: 1000px) {
  .help {
    display: flex;
    padding: 0; }
  .search-input {
    font-size: 2.5rem; }
  .search-suggestions {
    flex-direction: row;
    color: white; }
  .category {
    margin: 2rem 0; }
  .categories {
    grid-template-columns: repeat(2, 300px) 175px; } }

@media (min-width: 1500px) {
  .categories {
    grid-template-columns: repeat(5, 220px) 175px; } }
