@use "sass:math";
.rightbarelem {
  width: 100%; }

#xkcd {
  width: 100%;
  height: auto;
  filter: invert(100%);
  flex: 0 1 auto; }

.bordertopbot {
  border-style: solid none solid none;
  border-width: 1px;
  border-color: #c5c5c5; }

#Humor {
  max-height: 60%;
  flex-direction: column; }

#xkcd_url {
  overflow: scroll; }

.square {
  width: 30px;
  height: 30px;
  display: flex; }
  .square p {
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center; }

#square1 {
  background-color: #191919; }

#square2 {
  background-color: #303030; }

#square3 {
  background-color: #474747; }

#square4 {
  background-color: #5e5e5e; }

#square5 {
  background-color: #757575; }

#square6 {
  background-color: #8c8c8c; }

#square7 {
  background-color: #a3a3a3; }

#square8 {
  background-color: #bababa; }

#square9 {
  background-color: #d1d1d1; }

#square10 {
  background-color: #e8e8e8; }

#tempmax {
  color: #191919 !important; }

.task {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 3%;
  margin-bottom: 3px; }

.taskcheckbox {
  width: auto !important;
  height: auto !important; }

.tasklabel {
  margin-left: 10px; }

#taskslist {
  flex-direction: column;
  overflow: scroll;
  max-height: 150px; }

#eventslist {
  flex-direction: column;
  overflow: scroll;
  max-height: 122px; }

.taskbutton {
  width: 14px;
  height: 14px;
  border-style: solid solid solid solid;
  border-color: white;
  border-width: 1px;
  background-color: black; }

.taskbutton:hover {
  border-width: 2px; }

.taskbutton:focus {
  background-color: white; }

.event {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 3px; }

.eventitem {
  margin-left: 3px;
  white-space: nowrap; }

.eventdiv {
  display: flex;
  width: 71px;
  overflow: hidden; }

.eventcenter {
  width: auto !important;
  overflow: scroll !important;
  justify-content: center;
  align-items: center; }

.eventleft {
  justify-content: flex-start; }

.eventright {
  justify-content: flex-end; }
