.leftbarelem {
  width: 100%;
  height: 6%; }

#date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%; }
  #date h1 {
    color: black;
    margin-left: 0%;
    font-size: 25px; }

#name {
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  #name h1 {
    color: white;
    font-size: 25px;
    margin-left: 2%; }

.category-span-out {
  display: flex;
  justify-content: center;
  -webkit-clip-path: polygon(100% 0, 100% 73%, 94% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 73%, 94% 100%, 0 100%, 0 0);
  width: 100%;
  background-color: white; }

.category-span-in {
  display: flex;
  justify-content: center;
  -webket-clip-path: polygon(99% 6%, 99% 68%, 93.5% 93%, 1% 93%, 1% 6%);
  clip-path: polygon(99% 6%, 99% 68%, 93.5% 93%, 1% 93%, 1% 6%); }
  .category-span-in h1 {
    padding-left: 5%; }

.borderunder {
  border-style: none none solid none;
  border-color: #c5c5c5;
  border-width: 1px; }

.white {
  background-color: white; }

#cpu {
  height: 288px;
  overflow: visible;
  flex-direction: column;
  justify-content: space-around; }

#status {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 105px; }

#circle-half-top {
  position: absolute;
  width: 32px;
  height: 32px;
  border: 32px solid white;
  border-radius: 50%;
  animation: rotate 2s infinite reverse linear; }

#circle-half-bottom {
  position: absolute;
  width: 24px;
  height: 24px;
  border: 24px solid black;
  border-radius: 50%; }

#circlebox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 100%; }

#spinning-rec {
  position: absolute;
  width: 70px;
  height: 10px;
  background-color: black;
  animation: rotate 2s infinite linear; }

.borderallround {
  border-style: solid solid solid solid;
  border-color: #c5c5c5;
  border-width: 1px; }

.spacingAbove {
  margin-top: 3px; }

@keyframes rotate {
  0% {
    transform: rotate(-45deg); }
  100% {
    transform: rotate(315deg); } }

.flex {
  display: flex; }

.celestialBody {
  height: 32px;
  width: 32px;
  position: absolute; }

#CPS {
  height: 125px;
  overflow: visible;
  position: relative; }

.celestialBody {
  height: 32px;
  width: 32px;
  position: absolute; }

#chart_div {
  width: 280px;
  height: 190px;
  display: flex;
  z-index: 99; }

#chartBorderParent {
  width: 281px;
  overflow: visible;
  height: 192px;
  border-width: 1px;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-content: center; }

.center {
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center; }

.chartBorder {
  display: flex;
  overflow: visible;
  border-width: 4px;
  height: 214px;
  width: 300px;
  border-style: solid solid solid solid;
  position: absolute;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-content: center; }

#chartBorderBlack {
  border-color: black;
  border-radius: 15px;
  z-index: 101; }

#chartBorderWhite {
  border-color: white;
  z-index: 100; }

.rightbarelem {
  width: 100%; }

#xkcd {
  width: 100%;
  height: auto;
  filter: invert(100%);
  flex: 0 1 auto; }

.bordertopbot {
  border-style: solid none solid none;
  border-width: 1px;
  border-color: #c5c5c5; }

#Humor {
  max-height: 60%;
  flex-direction: column;
  overflow: scroll; }

#leftbar {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start; }
  @media screen and (max-width: 1100px) {
    #leftbar {
      display: none; } }
.thinboy {
  height: 90%;
  width: 300px;
  flex-shrink: 0; }

.fatboy {
  height: 90%;
  width: 500px; }

#centerbox {
  width: 45%;
  height: 80%;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between; }

#linkbox {
  border: white;
  border-width: 5px;
  width: 100vw;
  height: 50vh; }

#timebox {
  border: white;
  border-width: 5px;
  width: 100vw;
  font-size: 50px; }
  #timebox h1 {
    text-align: center; }

#rightbar {
  background: black; }
  @media screen and (max-width: 1100px) {
    #rightbar {
      display: none; } }
