chartBorderParent {
  display: flex;
  width: 100%;
  overflow: visible;
  height: 210px;
  border-width: 4px; }

#chart_div {
  width: 300px;
  height: 210px;
  display: flex; }

.center {
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center; }

.chartBorder {
  display: flex;
  height: 210px;
  width: 300px; }

#chartBorderBlack {
  overflow: visible;
  height: 210px;
  width: 300px;
  border-width: 4px;
  background-color: blue;
  border-color: blue;
  border-radius: 15px; }

#chartBorderWhite {
  overflow: visible;
  height: 210px;
  width: 300px;
  border-width: 1px;
  border-color: white;
  border-radius: 0px; }
